h1{
	display: block;
	text-align: center;
}
p{
	padding-left:  10px;
	padding-right: 10px;

}
.maincontainer{
	display: flex;
	align-items: center;
}
.container1, .container2, .container3{
	background-color: grey;
    border: 3px solid black;
    width: 95%;
    height: 240px;
    margin: 10px;
   
}

}
@media(min-width: 992px)
{

	.container1 , .container2, .container3{
		padding-bottom: 100px;
	}
}
@media(min-width: 768px) and (max-width: 991px)
{
	.maincontainer{
		display: inline-block;
	}
	.container1, .container2{
		display: inline-block;
		 width: 46%;	   
	}
	.container3{
		display: inline-block;	  
	}
}

@media  (max-width: 767px) 
{
   .maincontainer{
   	display: inline-block;

   }
   .container1, .container2{
   	display: inline-block;	
   	width: 95%;
   }
   .container3{
   	display: inline-block;	
  
   }
}
#Chicken, #Beef, #Sushi{
	float: right;
	border: 3px solid black;
	width: 20%;
	text-align: center;
}
#Chicken{
	background-color: orange;
}
#Beef{
	background-color: green;
}
#Sushi{
	background-color: pink;
}