.navbar-light {
    background-color: grey;
}

.navbar-nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.navbar-nav a:hover {
    box-shadow: 0px 1px 5px 1px white;
    background-color: teal;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.navbar-brand:hover {
    background-color: white;
    opacity: .4;
    box-shadow: 0px 1px 5px 1px whitesmoke;
}

#Chicken {
    font-weight: bold;
    font-size: 1.4em;
    display: block;
}

#Beef {
    font-weight: bold;
    font-size: 1.4em;
    display: block;
}

#Sushi {
    font-weight: bold;
    font-size: 1.4em;
    display: block;
}

#Chicken:hover,
#Beef:hover,
#Sushi:hover {
    box-shadow: 0px 1px 5px 1px whitesmoke;
}

.my-col {
    text-align: left;
    background-color: grey;
    margin-top: 20px;
}

@media(min-width: 992px) {
    .my-row {
        width: 100%;
        height: 300px;
    }
    .my-ro {
        width: 100%;
        height: 300px;
        padding-bottom: 30px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .my-row {
        width: 345px;
        height: 100px;
        display: inline-block;
        margin-right: 12px;
        padding-right: 20px;
    }
    .my-ro {
        width: 97%;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .my-row {
        width: 450px;
        height: 500px;
        margin-top: 20px;
        margin-left: 8px;
    }
    .my-ro {
        width: 450px;
        height: 500px;
        margin-top: 20px;
        margin-left: 8px;
    }
}

@media (max-width: 479px) {
    .my-row {
        width: 400px;
        height: 600px;
        margin-top: 10px;
        margin-right: px;
        margin-left: 3px;
    }
    .my-ro {
        width: 400px;
        height: 600px;
        margin-top: 10px;
        margin-left: 3px;
        margin-bottom: 20px;
    }
}